:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: "Space Mono", monospace;
    background-color: var(--light-grayish-cyan);
}

/* Main app */
#root {
    display: grid;
    justify-items: center;
    gap: 50px;

    padding: 75px 0;
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
}

/* Calculator  */
.calculator {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 25px;

    border-radius: 12px;
    background-color: var(--white);
    box-shadow: 0px 3px 20px -10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
    .calculator {
        flex-direction: row;

        padding: 30px;
    }
}

.inputs-section {
    display: grid;
    gap: 30px;

    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .inputs-section {
        margin-bottom: 0;
        margin-right: 50px;
        width: 50%;
    }
}

.tip-selector {
    display: grid;
    gap: 7.5px;
}

.tip-selector__label {
    font-weight: 700;
    color: var(--dark-grayish-cyan);
}

.tip-selector__buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12.5px;
}

.outputs-section {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 30px 20px;

    border-radius: inherit;
    background-color: var(--very-dark-cyan);
}

@media (min-width: 768px) {
    .outputs-section {
        padding: 35px;
        width: 50%;
    }
}

.results-cont {
    display: grid;
    gap: 25px;

    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .results-cont {
        margin-bottom: auto;
    }
}

/* Reset Button component */
.reset-button {
    width: 100%;
    padding: 10px;

    font-family: "Space Mono", monospace;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;

    transition: all 0.2s ease-in-out;
}

.reset-button:hover {
    opacity: 0.8;
}
